// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-grey-purple: #6d6875;
$color-purple: #bdb2ff;
$color-blue: #a0c4ff;
$color-pink: #ffc6ff;
// Font-size
$font-size: 16px;
$font-size-s: 14px;
$font-size-m: 22px;
$font-size-l: 30px;
// Space
$space: 15px;
$space-s: $space * 0.5;
$space-m: $space * 1.5;
$space-l: $space * 2;
$space-xl: $space * 2.5;