@import "variables";
@import "global";
@import "reset";
@import "fonts";
#toggle {
    width: 28px;
    height: 30px;
    margin: $space auto;
    position: absolute;
    top: 0;
    right: $space;
    z-index: 1;
    div {
        width: 100%;
        height: 5px;
        background: $color-black;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
    }
    &.is-active {
        .one {
            transform: rotate(45deg) translate(5px, 5px);
        }
        .two {
            opacity: 0;
        }
        .three {
            transform: rotate(-45deg) translate(7px, -8px);
        }
    }
}

.navbar {
    color: $color-white;
    background-color: $color-white;
    width: 150px;
    height: 100%;
    padding: $space;
    position: absolute;
    right: -180px;
    top: 0;
    line-height: 1.6;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: none;
    ul {
        margin-top: $space-l;
        li {
            a {
                color: $color-black;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 300;
            }
        }
    }
    &.is-active {
        display: block;
        // right: 0;
    }
    &.hide {
        .hide {
            display: none;
        }
    }
}

.transition-right {
    right: 0;
}